.navbar {
    font-family: 'Syncopate', sans-serif;
    overflow-y: hidden;
    overflow-x: auto;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    white-space: nowrap;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Bellota Text', sans-serif;
    transition: 0.12s;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: #020202;
  }